[submodule "Raven/vendor/spdlog"]
	path = Raven/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Raven/vendor/glfw"]
	path = Raven/vendor/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "Raven/vendor/imgui"]
	path = Raven/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
